

.honk-font {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 108, 3, 0.625);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    /* gap: 2px; */
    /* padding: 2px; */
    border-radius: 5px;
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: white;
    cursor: pointer;
}